* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Comfortaa', cursive;
  color: #D2D5D9;
  height: 100%;
  background: url("../img/bg.jpg") center/cover;
  background-repeat: repeat-y; }

#stage {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center; }

#content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.cont-item {
  margin: 2.5rem 0; }

.item-label {
  margin-bottom: 1.5rem; }

#logo img {
  max-width: 100%; }

#social ul {
  list-style-type: none; }
  #social ul li {
    display: inline-block; }
    #social ul li a {
      font-size: 2rem;
      color: #D2D5D9;
      display: inline-block;
      margin: 0 2px;
      text-decoration: none;
      -webkit-transition: 0.7s;
      transition: 0.7s; }
    #social ul li a:hover {
      color: #942CB1; }

#vk-wr {
  background-color: #D2D5D9;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 28px;
  width: 28px;
  -webkit-transition: 0.7s;
  transition: 0.7s; }

#vk-wr:hover {
  background-color: #942CB1; }

#vk {
  font-size: 1.5rem !important;
  color: black !important; }

#nsm {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 30px; }
