* {
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Comfortaa', cursive;
  color: #D2D5D9;
  height: 100%;
  background: url("../img/SZ1.png") repeat-y center/cover; }

#content {
  margin: 0 auto;
  text-align: center; }

.cont-item {
  margin: 2.5rem auto;
  text-align: center; }

.item-label {
  margin-bottom: 1.5rem; }

#logo {
  padding: 3rem 0 2rem 0; }
  #logo img {
    max-width: 330px; }

#social ul {
  list-style-type: none; }
  #social ul li {
    display: inline-block; }
    #social ul li a {
      display: inline-block;
      background-color: #D2D5D9;
      width: 2.4rem;
      height: 2.4rem;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 4px solid #CDD0D4;
      margin: 0 2px;
      text-decoration: none;
      -webkit-transition: 0.7s;
      transition: 0.7s;
      background-repeat: no-repeat; }
    #social ul li a:hover {
      background-color: #942CB1;
      border: 4px solid #8826A3; }

.fb {
  background-image: url("../img/icons/facebook-black.svg"); }

.vk {
  background-image: url("../img/icons/vk-black.svg"); }

.tw {
  background-image: url("../img/icons/twitter-black.svg"); }

.in {
  background-image: url("../img/icons/instagram-black.svg"); }

.yt {
  background-image: url("../img/icons/youtube-black.svg"); }

#nsm {
  position: absolute;
  right: 25px;
  bottom: 25px; }
  #nsm img {
    width: 100px; }

.copyright {
  font-size: 0.8rem; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%; }

.bottom-item {
  position: relative; }

.logo-nsm {
  width: 25px;
  height: 25px; }

#btnNotify:hover {
  background-color: #942CB1 !important;
  cursor: pointer; }

@media screen and (max-width: 575px) {
  #logo {
    padding: 1rem 0; }
    #logo img {
      max-width: 250px; }
  .cont-item {
    margin: 0.3rem auto; }
  .item-label {
    font-size: 0.8rem; }
  #nsm img {
    width: 80px; } }

@media screen and (max-width: 767px) {
  #logo {
    padding: 0 0; }
    #logo img {
      max-width: 270px; } }

@media (max-width: 991px) {
  #logo {
    padding: 2rem 0 1rem 0; }
    #logo img {
      max-width: 300px; }
  .cont-item {
    margin: 1.5rem auto; } }

@media screen and (min-width: 1199px) {
  #logo {
    padding: 3rem 0 2rem 0; }
    #logo img {
      max-width: 400px; }
  .item-label {
    font-size: 1.2rem; } }
