@media screen and (max-width: 575px) {
	body {
		padding-top: 1px;
	}
	#logo {
		background: url("../img/Logo 5000.png") center/cover;
	}
	.cont-item {
	margin: 0.3rem auto;
	}
	.item-label{
		font-size: 0.8rem
	}
	#nsm {

		img{
			width: 80px;


		}
	}
	
}

@media screen and (max-width: 767px) {
	body {
		padding-top: 1px;
	}
	#logo {
		background: url("../img/Logo 5000.png") center/cover;
	}
	
}

@media (max-width: 991px) {
	body {
		padding-top: 1px;
	}
	#logo {
		background: url("../img/Logo 5000.png") center/cover;
	}
	.cont-item {
	margin: 1.5rem auto;
	}

}@media (max-width: 1200px) {
	body {
		padding-top: 1px;
	}
	#logo {
		background: url("../img/Logo 5000.png") center/cover;
	}
	.cont-item {
	margin: 1.5rem auto;
	}
}
@media screen and (min-width: 1440px) {
	body {
		padding-top: 100px;
}
	#logo {
				background: url("../img/Logo 5000_00149.png") center/cover;
	}
	.item-label{
		font-size: 1.2rem
	}
}
