@import "variables";
@import "settings";


body {
	font-family: 'Comfortaa', cursive;
	color: #D2D5D9;
	height: 100%;
	background: url('../img/SZ1.png') repeat-y center/ cover;
}

#content {
	margin: 0 auto;
	text-align: center;
}

.cont-item {
	margin: 2.5rem auto;
	text-align: center;
}

.item-label {
	margin-bottom: 1.5rem;
}

#timer {

}

#logo {
	padding: 3rem 0 2rem 0;
	img {
		max-width: 330px;
	}
}


#social {
	ul {
		list-style-type: none;
		li {
			display: inline-block;
			a {  
				display: inline-block;
				background-color: #D2D5D9;
				width: 2.4rem;
				height: 2.4rem;
				border-radius: 5px;
				border: 4px solid #CDD0D4;
				margin: 0 2px;
				text-decoration: none;
				transition: 0.7s;
				background-repeat: no-repeat;
			}


			a:hover{
				background-color: #942CB1;
				border: 4px solid #8826A3;
			}
		}
	}
}

.fb{
	background-image: url('../img/icons/facebook-black.svg');
}
.vk{
	background-image: url('../img/icons/vk-black.svg');
}
.tw{
	background-image: url('../img/icons/twitter-black.svg');
}
.in{
	background-image: url('../img/icons/instagram-black.svg');
}
.yt{
	background-image: url('../img/icons/youtube-black.svg');
}

#nsm {
	position: absolute;
	right: 25px;
	bottom: 25px;
	img{
		width: 100px;


	}
}

.copyright{
	font-size: 0.8rem;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.bottom-item {
	position: relative;
}
.logo-nsm{
	width: 25px;
	height: 25px;
}

#btnNotify:hover {
	// color: #942CB1!important;
	background-color: #942CB1!important;
	// border-color: #942CB1!important;
	cursor: pointer;
}

@import "media";