* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Comfortaa', cursive;
	color: #D2D5D9;
	height: 100%;
	// border: 3px solid green;
	background-image: url('../img/bg.jpg');
	background-position: center center;
	background-repeat: repeat-y;
	background-size: cover;

}

#stage {
	// padding-top: 20%;
	// height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
	// background-image: url('../img/bg.jpg');
	// background-position: center center;
	// background-repeat: no-repeat;
	// background-size: cover;
	text-align: center;
	// border: 3px solid blue;
}

#content {
	display: flex;
	flex: 1 1 auto;
	// border: 3px solid pink;
	flex-direction: column;
	justify-content: center;
}

#logo {
	margin-bottom: 2rem;
	padding-top: 6rem;
	// border: 3px solid red;
	img {
		max-width: 100%;
		}
	}

#timer {
	margin-top: 1rem;
	margin-bottom: 1rem;
	// border: 3px solid grey;
}

#social {
	margin-top: 0.2rem;
	// border: 3px solid yellow;
	ul {
	list-style-type: none;
		li {
			display: inline-block;
			a {	
				font-size: 2rem;
				color: #D2D5D9;
				display: inline-block;
				margin: 0 2px;
				text-decoration: none;
				transition: 0.7s;
			}
			a:hover{
				color: #942CB1;
			}
		}
	}
}

#nsm {
	flex: 1 1 auto;
	align-self: flex-end;
	top: 83%;
	left: 85%;
	
	// border: 3px solid purple;
	img {
		
		
	}

}
