* {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Comfortaa', cursive;
	color: #D2D5D9;
	height: 100%;
	background: url('../img/SZ1.png') repeat-y center/ cover;
}

#content {
	margin: 0 auto;
	text-align: center;
}

.cont-item {
	margin: 2.5rem auto;
	text-align: center;
}

.item-label {
	margin-bottom: 1.5rem;
}

#logo {
	padding: 3rem 0 2rem 0;
	img {
		max-width: 20%;
	}
}

#social {
	ul {
		list-style-type: none;
		li {
			display: inline-block;
			a {  
				display: inline-block;
				background-color: #D2D5D9;
				width: 2rem;
				height: 2rem;
				border-radius: 5px;
				margin: 0 2px;
				text-decoration: none;
				transition: 0.7s;
			}


			a:hover{
				background-color: #942CB1;

			}
		}
	}
}

.fb{
	background-image: url('../img/icons/1491585370_facebook_fb_social_social_media.svg');
}
.vk{
	background-image: url('../img/icons/1491585372_vkontakte.svg');
}
.tw{
	background-image: url('../img/icons/Twitter_Logo_Blue.svg');
}
.in{
	background-image: url('../img/icons/1491585383_instagram.svg');
}
.yt{
	background-image: url('../img/icons/1491585385_youtube_you_tube_google.svg');
}

#nsm {
	position: absolute;
	left: 94%;
	top: -40%;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.bottom-item {
	position: relative;
}